/* CSS To Center */
.signUpContainer, .loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
/* Login / Signup CSS */
.loginBtnContainer, .signUpBtnContainer{
  margin-bottom: 25px;
}

.loginBtn, .signUpBtn{
  background-color: #00000000;
  border: solid black .2px;
  padding: 20px;
  font-size: 25px;
}

/* Hover Effect CSS */
.loginBtnContainer:hover, .signUpBtnContainer:hover, .homepageOption:hover, .navBarOption:hover, svg:hover{
 background-color: gray;
}

/* Form CSS */
.formContainer{
  border: solid black 2px;
  padding: 2em;
}
.formEntry{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.labelContainer{
  margin-right: 27px;
}

.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 15px;
}
/* HomePage CSS */
.homepageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.optionsContainer{
  display: flex;
  justify-content: space-evenly;
  height: 35vh;
  width: 80%;
}

.homepageOption{
  display: flex;
  border: solid black 2.5px;
  width: 45%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 9%;
  color: black;
}

.homepageOptionText{
  font-size: 35px;
  color: black;
}

.homepageTitle{
  font-size: 50px;
}

/* Navbar CSS */
.navBarContainer{
  display: flex;
  border: solid black 2.5px;
  justify-content: space-evenly;
  height: 25vh;
}

.navBarOptionContainer{
  display: flex;
  height: 100%;
  align-items: center;
}
.navBarOption{
  color: black;
  border: solid black 1px;
  
}

.navBarText{
 font-size: 30px;
 height: 40px;
 width: 180px;
 text-align: center;
}

/* Main Page CSS */
.createPost {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  top: 60%;
  left: 50%;
  border: solid black 2px;
  transform: translate(-50%, -50%);
}
.createPostIcon{
  margin-top: 25px;
  display: flex;
  justify-content: right;
}

.createPostbtn{
  background-color: #00000000;
  border: none;
}

.EditBTNSVG{
  border: solid black;
  padding: 25px;
  border-radius: 40%;
}

.titleInput{
  margin-bottom: 25px;
}

#body{
  height: 241px;
  width: 526px;
}

.generateBTN{
  height: 25px;
  width: 45px;
}
/* Profile CSS */
.profileContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
