/* CSS To Center */
.signUpContainer, .loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
/* Login / Signup CSS */
.announcementContainer{
  display: flex;
  justify-content: center;
}
.loginBtnContainer, .signUpBtnContainer{
  margin-bottom: 25px;
  background-color: white;
}

.loginBtn, .signUpBtn{
  background-color: #00000000;
  border: solid black .2px;
  padding: 20px;
  font-size: 25px;
}

/* Hover Effect CSS */
.loginBtnContainer:hover, .signUpBtnContainer:hover, .homepageOption:hover, .navBarOption:hover, svg:hover, .bioBTN:hover{
 background-color: gray;
}

/* Form CSS */
.formContainer{
  border: solid black 2px;
  padding: 2em;
  background-color: white;
}
.formEntry{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.labelContainer{
  margin-right: 27px;
}

.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 15px;
}
/* HomePage CSS */
.homepageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

html{
  margin: 0%;
  /* background-color: rgb(75, 117, 234); */
  background-image: url('https://wallpapers.com/images/hd/profile-picture-background-10tprnkqwqif4lyv.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.optionsContainer{
  display: flex;
  justify-content: space-evenly;
  height: 35vh;
  width: 80%;
}

.homepageOption{
  display: flex;
  border: solid white 2.5px;
  width: 45%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 9%;
  color: white;
}

.homepageOptionText{
  font-size: 35px;
  color: white;
}

.homepageTitle{
  font-size: 50px;
  color: white;
}


/* Navbar CSS */
.navBarContainer{
  display: flex;
  border: solid black 2.5px;
  justify-content: space-evenly;
  height: 15vh;
  margin: 0%;
  padding: 0%;
}

.navBarOptionContainer{
  display: flex;
  height: 100%;
  align-items: center;
}
.navBarOption{
  color: black;
  border: solid black 1px;
  background-color: white;
}

.navBarText{
 font-size: 30px;
 height: 40px;
 width: 180px;
 text-align: center;
}

/* Main Page CSS */
.createPost {
  display: none;
  position: fixed;
  top: 60%;
  left: 50%;
  border: solid black 2px;
  background-color: rgb(248, 248, 248);
  transform: translate(-50%, -50%);
}
.createPostIcon{
  margin-top: 25px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 100;
  right: 0;
}

.createPostbtn, .editBioBTN{
  background-color: #00000000;
  border: none;
}

.EditBTNSVG, .EditBIOSVG{
  border: solid black;
  padding: 25px;
  border-radius: 40%;
}

.titleInput{
  margin-bottom: 25px;
  border: solid black 1.5px;
  font-size: 20px;
}

.createLabel{
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}

.mainPage{
  color: black;
}
#body{
  height: 241px;
  width: 526px;
  border: solid black 1.5px;
  font-size: 20px;
}


.announcementTxt{
  font-size: 25px;
}

.green{
  color: green;
}

.red{
  color: red;
}
.btnContainer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.temp{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.posts{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainPagePostContainer{
  margin-top: 15px;
}
/* Profile CSS */
.profileContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.bioContainer{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}

.profileSVG{
  color: white;
}


.bioTitle, .postTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.EditBIOSVG{
  margin-left: 25px;
  padding: 25px;
  border: solid white;
  color: white;
}


.bioTitleText, .postTitleText, .bioUser{
  margin: 0%;
  padding: 0%;
  font-size: 55px;
  color: white;
}

.bioText{
  font-size: 25px;
}

.bioContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bioTxt{
  font-size: 26px;
  color: white;
}

.bioTextArea{
  height: 278px;
  width: 723px;
  color: black;
  font-size: 20px;
}

.bioBTN{
  margin-top: 15px;
  padding: 25px;
  background: #00000000;
  color: white;
}

.bioForm{
  display: none;
}

.bioPostContainer{
  margin-top: 15px;
}
/* Post CSS */

.postContainer{
  width: 700px;
  border: solid black 2.5px;
  border-radius: 4%;
}

.postTitle{
  margin-top: 15px;
  font-size: 35px;
}

.postBody, .postFooter{
  padding: 5px;
  color: white;
  font-size: 22px;
}

.editPostContainer{
  display: none;
  border: solid black 2.5px;
}