.signUpContainer, .loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.loginBtnContainer, .signUpBtnContainer{
  margin-bottom: 25px;
}


.loginBtnContainer:hover, .signUpBtnContainer:hover{
 background-color: gray;
}

.loginBtn, .signUpBtn{
  background-color: #00000000;
  border: solid black .2px;
  padding: 20px;
  font-size: 25px;
}

.formContainer{
  border: solid black 2px;
  padding: 2em;
}
.formEntry{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.labelContainer{
  margin-right: 27px;
}

.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 15px;
}